.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 60px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    background: linear-gradient(#DA7C25, #B923E1);
}
.nav-connect:hover{
    transform: scale(1.05);
}